Backup Of esquematico.pdsbak
esquematico.pdsprj.DESKTOP-0LAIB5O.Vinicio.workspace
Last Loaded esquematico.pdsbak
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
bin/build.options.json
bin/includes.cache
bin/main.ino.eep
bin/main.ino.elf
bin/main.ino.hex
bin/main.ino.with_bootloader.hex
bin/core/abi.cpp.d
bin/core/abi.cpp.o
bin/core/CDC.cpp.d
bin/core/CDC.cpp.o
bin/core/core.a
bin/core/HardwareSerial.cpp.d
bin/core/HardwareSerial.cpp.o
bin/core/HardwareSerial0.cpp.d
bin/core/HardwareSerial0.cpp.o
bin/core/HardwareSerial1.cpp.d
bin/core/HardwareSerial1.cpp.o
bin/core/HardwareSerial2.cpp.d
bin/core/HardwareSerial2.cpp.o
bin/core/HardwareSerial3.cpp.d
bin/core/HardwareSerial3.cpp.o
bin/core/hooks.c.d
bin/core/hooks.c.o
bin/core/IPAddress.cpp.d
bin/core/IPAddress.cpp.o
bin/core/main.cpp.d
bin/core/main.cpp.o
bin/core/new.cpp.d
bin/core/new.cpp.o
bin/core/PluggableUSB.cpp.d
bin/core/PluggableUSB.cpp.o
bin/core/Print.cpp.d
bin/core/Print.cpp.o
bin/core/Stream.cpp.d
bin/core/Stream.cpp.o
bin/core/Tone.cpp.d
bin/core/Tone.cpp.o
bin/core/USBCore.cpp.d
bin/core/USBCore.cpp.o
bin/core/WInterrupts.c.d
bin/core/WInterrupts.c.o
bin/core/wiring_analog.c.d
bin/core/wiring_analog.c.o
bin/core/wiring_digital.c.d
bin/core/wiring_digital.c.o
bin/core/wiring_pulse.c.d
bin/core/wiring_pulse.c.o
bin/core/wiring_pulse.S.d
bin/core/wiring_pulse.S.o
bin/core/wiring_shift.c.d
bin/core/wiring_shift.c.o
bin/core/wiring.c.d
bin/core/wiring.c.o
bin/core/WMath.cpp.d
bin/core/WMath.cpp.o
bin/core/WString.cpp.d
bin/core/WString.cpp.o
bin/libraries/LiquidCrystal/LiquidCrystal.cpp.d
bin/libraries/LiquidCrystal/LiquidCrystal.cpp.o
bin/preproc/ctags_target_for_gcc_minus_e.cpp
bin/sketch/main.ino.cpp
bin/sketch/main.ino.cpp.d
bin/sketch/main.ino.cpp.o
